#content {
    width: 100%;
    height: 100%;
}

.square {
    border: 1px solid #777777;
    float: left;
}

.board {
  margin: 0 auto;
}

.controls {
  text-align: center;
}

.controls .btn-toolbar .btn-group {
  float: none;
}

.controls .btn {
  border: 0px;
}

.controls .btn:focus {
  background-color: transparent;
  outline: none;
}

.controls .btn:hover {
  background-color: transparent;
}

.controls .btn:active {
  box-shadow: none;
}
